<template name="Boards">
	
	<div class="boards boards-placement card-panel hoverable z-depth-3">
		

		{{#if isEditingBoardTitle}}

			<form class="edit-title">
				<input name="revisedTitle" type="text" value="{{boardTitle}}">
				<a class="cancel" href="# mdi-content-remove"></a>
			</form>

		{{else}}

			 <h5> <a href="{{pathFor 'boardPage'}}">{{boardTitle}}</a></h5>
			 
			<ul class="board-actions">
				<li><input type="checkbox" class="favorites {{#if favorite}} mdi-action-favorite {{else }} mdi-action-favorite-outline
			{{/if }}"></li>
				<li><a herf="#" class="mdi-editor-mode-edit"></a></li>
				<li><a href="#" class="delete mdi-action-delete"></a></li>
			</ul>

		{{/if}}
		


	
	</div>

</template>