<template name="Boards">
	
	<div class="boards boards-placement card-panel hover z-depth-5">

		<a herf="#" class="edit-board-title"><i class="fa fa-edit"></i></a>
		
		<a herf="#" class="remove"><i class="fa fa-remove"></i></a>
		<input type="checkbox" class="favorites {{#if favorite}} mdi-action-favorite {{else }} mdi-action-favorite-outline
		{{/if }}">
		<h3>

		{{#if isEditingBoardTitle}}
			<form class="edit-title">
				<input name="revisedTitle" type="text" value="{{boardTitle}}">
				<a class="cancel" href="#"><i class="fa fa-remove"></i></a>
			</form>
				{{else}}
			<a href="{{pathFor 'boardPage'}}">{{boardTitle}}</a>
		{{/if}}
		</h3>


	
	</div>
</template>