<template name="TaskList">
	<div class="tasklist card-panel z-depth-5 hoverable">

		<div class="tasklist-title">
			
			<a href="{{pathFor 'TaskListPage'}}"><h3 class="tasklist-title">{{taskListTitle}}</h3></a>
		
			<a href="#" class="mdi-content-clear"></a>
		
		</div>
		
			<div class="tasklist-body">

				{{#each cards}}

				{{> Card}}
			
					{{else}}

					<p>
						Sorry there are no task cards created yet.
					</p>

				{{/each}}
	

			</div>
				
			{{> AddNewCard}}
	</div>
</template>