.card-panel {
	margin: 70px 0;
}
.card-panel:hover {
	h3.heading-4.proper {
		color: white;
	}
}
.container 
	{
	padding: 0;
	max-width: none;
	width: 100%;
	margin: 0;

	}
section#main 
	{
	padding: 0px 15px;
	}

a 
	{
	text-decoration: none;
	}
a:hover 
	{	
		text-decoration: none;
	}

a.mdi-content-clear {
	color: red;
}

/* Header & Navbar styling */


header {
	padding: 10px;
	a {
		color: white;
		margin: 7px;
		text-decoration: none;
	}
	a:hover {
		color: salmon;
		text-decoration: none;
	}	
}
div.navbar-header {
	display: inline-block;
}
div.navbar-header:hover {
	h3.heading-4-proper {
		color: white;
	}
}

div.navbar-header.header-right {
		float: right;
	}

i.board-page-faves {
	float: left;
	left: -450px;
}

input.newBoard {
			color: salmon;
			width: 100%;
			max-width: 300px;
			border: none;
			border-bottom: 1px solid salmon;
			text-transform: uppercase;
			letter-spacing: 0.15em;
		}
		input.newBoard:focus {
			border: none;
			border-bottom: 1px solid seagreen;
			outline-offset: 0;
			outline-color: white;
		}
/* BOARDS */
a.mdi-content-clear {
	float: right;
	color: salmon;
	visibility: hidden;
}
a.mdi-content-clear:hover {
	-webkit-transform: scale(2rad);
	cursor: hand;
}
h3.heading-4.proper {
		text-align: left;
		color: lightgray;
		text-transform: uppercase;
}
H5 {
	text-align: center;
	letter-spacing: 0.1em;
	color: black;
}
.boards {
	display: inline-block;
	width: 100%;
	border: 3px solid seagreen;
	background-color: white;
	color: white;
	height: 115px;
	margin: 30px;
	h3 {
		text-align: center;
		a {
			font-size: 22px;
			text-transform: uppercase;
			letter-spacing: 0.1em;
			color: white;
			margin: 0 auto;
		}
	}
}
div.boards:hover {
	a.mdi-content-clear {
		visibility: visible;
	}
	h5 {
		color: lightgray;
	}
}
.closeout {
	text-align: right;
	display: block;
	position: fixed;
	right: 25px;
}
.favorites .boardPage {

}
.favorites:before {
	visibility: visible;
}
.favorites.fa.fa-star:checked:before {
	content: "\f005";
}
input[type=checkbox].favorites.fa.fa-star, input[type=checkbox].favorites.fa.fa-star-o{
	visibility: hidden;
}
span.boardStar {
	color: white;
	padding: 0 0 7px 7px;

}
/* BOARD TITLE */
h2.board-title {
	text-align: left;
	width: 50%;
	display: inline-block;
	float: left;
}
div.board-input {
	width: 48%;
	display: inline-block;
}
.heading {
	text-transform: uppercase;
	letter-spacing: 0.25em;
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
	input:first-of-type {
		float: left;
		margin: 20px 20px 20px 0;
		font-size: 20px;
	}
}
h2.board-title 	input {
	float: right;
	margin-top: -40px;
	border: transparent;
	border-bottom: 1px solid seagreen;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	width: 450px;

}
.tasklist {
	position: relative;
	margin: 10px;
	width: 250px;
	display: inline-block;
	height: 250px;
	overflow-y: auto;
	border: 1px solid black;
	margin: 3px;
	padding: 0 5px 5px 5px;
	.remove {
		float: right;
		top: 0;
	}
}

/*  TASKLISTS */
div.tasklist-title {
	display: block;
	background-color: white;
	width: 240px;
	z-index: 500;
}
h3.tasklist-title {
	color: seagreen;
	border-bottom: 1px solid black; 
}
.task.mdi-content-clear {
	color: salmon;
}
input.AddNewCard {
	margin: 10px 0px;
	padding: 0px 7px;
	width: 90%;
	border: none;
	letter-spacing: 0.15em;
}

input.checkbox {
	display: inline-block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
	left: initial;
}
/*   CARDS    */
i.mdi-content-clear {
	position: absolute;
	right: 10px;
	top: 10px;
}
div.card-body {
	h4 {
		display: inline-block;
	}
	a {
		position: absolute;
		width: 100%;
		i.mdi-content-clear {
			left: 193px;
		}
	}
}
div.tasklist-body {
	display: block;
	padding-top: 60px;
	background-color: white;
}

@media (min-width: 751px) {
	div.boards {
		max-width: 450px;
		}
	}