.container 
	{
	padding: 0;

	}
section#main 
	{
	padding: 0px 15px;
	}

a 
	{
	text-decoration: none;
	}
a:hover 
	{	
		text-decoration: none;
	}


/* Header & Navbar styling */


header {
	padding: 10px;
	a {
		color: white;
		margin: 7px;
		text-decoration: none;
	}
	a:hover {
		color: salmon;
		text-decoration: none;
	}
	form {
		display: inline-block;
		input {
			background-color: #222;
			color: salmon;
			width: 300px;
			border: none;
			border-bottom: 1px solid salmon;
			text-transform: uppercase;
			letter-spacing: 0.15em;
		}
		input:focus {
			border: none;
			border-bottom: 1px solid seagreen;
			outline-offset: 0;
			outline-color: #222;
		}
	}
}

div.navbar-header {
	display: inline-block;
}

div.navbar-header.header-right {
		float: right;
	}




/* BOARDS */
a.remove {
	float: right;
	color: salmon;

}
h3.heading-4.proper {
		text-align: left;
		color: black;
		background: white;
		text-transform: uppercase;
}
.boards {
	display: inline-block;
	width: 100%;
	border: 3px solid seagreen;
	background-color: seagreen;
	color: white;
	height: 115px;
	margin: 10px auto;
	h3 {
		text-align: center;
		a {
			color: white;
		}
	}
}
.glyphicon:before {
	visibility: visible;
}
.glyphicon.glyphicon-star-empty:checked:before {
	content: "\e006";
}
input[type=checkbox].glyphicon{
	visibility: hidden;
}
span.boardStar {
	color: white;
	padding: 0 0 7px 7px;

}
/* BOARD TITLE */
h2.board-title {
	text-align: left;
}
.heading {
	text-transform: uppercase;
	letter-spacing: 0.25em;
	text-align: center;
	padding: 0;
	border-bottom: 2px solid black;
	margin-bottom: 30px;
}
h2.board-title 	input {
	float: right;
	margin-top: -40px;
	border: transparent;
	border-bottom: 1px solid seagreen;
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	width: 450px;

}
.tasklist {
	position: relative;
	margin: 10px;
	width: 250px;
	display: inline-block;
	height: 250px;
	overflow-y: auto;
	border: 1px solid black;
	margin: 3px;
	padding: 0 5px 5px 5px;
	.remove {
		float: right;
		top: 0;
	}
}

/*  TASKLISTS */
div.tasklist-title {
	display: block;
	background-color: white;
	width: 240px;
	z-index: 500;
}
h3.tasklist-title {
	color: seagreen;
	border-bottom: 1px solid black; 
}
.task.remove {
	color: salmon;
}
input.AddNewCard {
	margin: 10px 0px;
	padding: 0px 7px;
	width: 90%;
	border: none;
	letter-spacing: 0.15em;
}

input.checkbox {
	display: inline-block;
}

/*   CARDS    */
i.fa.fa-remove.remove {
	position: absolute;
	right: 10px;
	top: 10px;
}
.card {
	h4 {
		display: inline-block;
	}
	a {
		position: absolute;
		right: 0;
		color: salmon;
	}
}
div.card-body {
	display: block;
	padding-top: 60px;
	background-color: white;
}

@media (min-width: 751px) {
	.boards {
			max-width: 220px;
	}
}