
/* BOARDS */

.boards-placement.card-panel {
	width: 350px;
	margin: 20px auto;
	position: relative;
	h5 {
		display: inline-block;
	}
	ul {
		display: inline-block;

	}
	}

ul.board-actions {
	position: absolute;
	right: 0;
	top: 0;
}