
/* BOARDS */
.boardShortcut {
	h6 {
		padding: 0;
		a {
			padding: 0;
		}
	}
	ul {
		float: right;
		width: 50%;
		li {
			display: inline-block;
			&:last-of-type {
				padding: 0 0 0 15px;
			}
	}
	.card-panel {
		padding: 0;
		background-color: #fee;
	}
}
}
	